.menu__buttons-btn{
  margin:3rem;
  padding:1rem;
  font-size:2rem;
  color:white;
  background-color:#f1425d;
  cursor:pointer;
}
.todolist__container-delete-btn{
  position:absolute;
  top:5rem;
  right:-9rem;
  width:9rem;
  padding:1rem;
  font-size:2rem;
  color:white;
  background-color:#f1425d;
  cursor:pointer;
}
.momcontainer__newlist-btn{
  
 
  width:9rem;
  padding:1rem;
  font-size:2rem;
  color:white;
  background-color:#f1425d;
  cursor:pointer;
}
//Add a task button
.addatask-form-main-btn{}